.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.divTitulo {
  text-align: center;
  margin-bottom: 20px;
}

.titulo {
  color: #5a251d; /* Cor mais saturada */
  font-family: Arial, sans-serif;
  font-size: 24px;
}

.formulario {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.divBtnVoltarAutor {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.btnVoltarAutor {
  background-color: #5a251d; /* Cor mais saturada */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnVoltarAutor:hover {
  background-color: #47211c;
}

.btnVoltarAutor:active {
  background-color: #3d1c18;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.linha {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.coluna {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
}

.tituloAutor label {
  color: #5a251d; /* Cor mais saturada */
  font-weight: bold;
  margin-bottom: 8px;
}

.inputNome {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.inputNome:focus {
  border-color: #5a251d; /* Cor mais saturada */
  box-shadow: 0 0 8px rgba(90, 37, 29, 0.25);
}

button.btnCadAutor {
  background-color: #5a251d; /* Cor mais saturada */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 0 0 20%; /* Para posicionar ao lado do input */
}

button.btnCadAutor:hover {
  background-color: #47211c;
}

button.btnCadAutor:active {
  background-color: #3d1c18;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.divTabAutor {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table-custom {
  background-color: #cccccc;
  color: white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 0; /* Remove espaço extra da tabela */
}

.table-custom th,
.table-custom td {
  padding: 10px;
  text-align: left;
}

.table-custom th {
  background-color: #5a251d; /* Cor mais saturada */
}

.table-custom tr:nth-child(even) {
  background-color: #444;
}

.table-custom tr:hover {
  background-color: #5a251d; /* Cor mais saturada */
  color: white;
}