.biblioteca-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa a altura total da janela */
  width: 100vw; /* Ocupa a largura total da janela */
  padding:0; /* Remove o padding para garantir que ocupe toda a tela */
  box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
  overflow-x: hidden;
}

.biblioteca-livros-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%; /* Ocupa toda a largura disponível */
  height: calc(100vh - 60px); /* Ajuste a altura se necessário, dependendo do espaço do cabeçalho */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
  overflow-x: hidden;
}

.biblioteca-livro-card {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borda discreta */
  border-radius: 5px; /* Bordas levemente arredondadas */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
  transition: transform 0.2s ease-in-out; /* Efeito suave ao passar o mouse */
}

.biblioteca-livro-card:hover {
  transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
}

/* Estiliza o ícone de fechar (X) no Modal */
.modal-header .btn-close {
  color: #000000;
  opacity: 1; /* Garante que a cor apareça bem */
}

.modal-header .btn-close:hover {
  color: #47211c; /* Mesma cor ao passar o mouse */
}

/* Estiliza o botão de edição */
.biblioteca-btnIcon {
  color: #47211c; /* Define a cor para o ícone de edição */
  background: none; /* Remove o fundo do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer;
  font-size: 1.5em; /* Aumenta o tamanho do ícone */
}

.biblioteca-btnIcon:hover {
  color: #7a3e36; /* Opcional: tom mais claro no hover */
  background: none;
}

.biblioteca-modal-text-1, .biblioteca-modal-text-2, .biblioteca-modal-text-3, .biblioteca-modal-text-4, .biblioteca-modal-text-5 {
  margin-bottom: 10px; /* Espaçamento entre as informações */
  font-size: 14px;
  line-height: 1.4;
}

/* Estilo adicional para o título da descrição */
.biblioteca-modal-text-1 {
  font-weight: bold;
  font-size: 15px;
  color: #47211c;
}

/* Para destacar informações como Autor, Gênero, Editora e ISBN */
.biblioteca-modal-text-2, .biblioteca-modal-text-3, .biblioteca-modal-text-4, .biblioteca-modal-text-5 {
  font-weight: 500;
  color: #555;
}

.modal-header .biblioteca-modal-title {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #c8a165 !important;
  text-align: center !important;
  width: 100%; /* Garante largura total */
}

.biblioteca-spinner-border {
  margin-right: 8px; /* Espaço entre o spinner e o texto */
  border-width: 2px; /* Largura da borda do spinner */
  color: black; /* Cor do spinner */
}