.linha-container{
    margin-left: 20px;
    color: #47211c;
    flex: 1;
}

.linha-titulo{
    padding-top: 10px;
    margin-left: 20px;
}

.linha-card{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding:10px;
    gap: 10px;
    align-items: center; 
}

.linha-card::-webkit-scrollbar{
    display: none;
}

.livro-card{
    transition: transform 450ms;
    width: 144px;
    height: auto;
    object-fit: cover;
}

.livro-card:hover{
    transform: scale(1.08);
}