.linha-container{
  margin: 0 auto;
  color: #47211c;
}

.linha-crear{
  font-size: 15px;
  width: 100%;
}

.linha-titulo{
  padding-top: 10px;
  margin-left: 20px;
}

.linha-card{
  display: flex;
  /* overflow-y: hidden;
  overflow-x: auto; */
  padding:10px;
  gap: 10px;
  align-items: center; 
}

.linha-card::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem */
}

.linha-card::-webkit-scrollbar{
  display: none;
}

.livro-card{
  transition: transform 450ms;
  width: 150px;
  height: 220px;
  object-fit: cover;
}

.livro-card:hover{
  transform: scale(1.08);
}

.hrLinha{
  width:50%;
 }

 .modal-text {
  margin-bottom: 10px;
}