.livro-coluna {
  display: flex; /* Torna o contêiner um flex container */
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: flex-start; /* Garante que os itens começam no topo */
  text-align: center; /* Centraliza o texto dentro dos elementos */
  height: 100%; /* Garante que a altura ocupe todo o espaço */
  padding: 10px; /* Adiciona espaçamento interno */
}

.livro-imagem {
  width: 280px;
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Ajusta a imagem sem distorcer */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borda discreta */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  margin-bottom: 20px; /* Espaço inferior para separar da descrição */
}

.div-info {
  width: 100%; /* Faz a div ocupar toda a largura do contêiner */
}

.div-info p {
  margin: 4px 0 !important; /* Remove quase todo o espaçamento entre os parágrafos */
  padding: 2px !important;
}

.box-avaliacao {
  display: flex; /* Centraliza a avaliação */
  justify-content: center;
  align-items: center;
}

.rating-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.livro-coluna-texto {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: justify; /* Justifica o texto */
  padding: 15px; /* Adiciona espaçamento interno */
}

.livro-coluna-texto h1 {
  text-align: center; /* Centraliza o título */
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.livro-coluna-texto p {
  text-align: justify; /* Justifica o texto */
  margin-bottom: 20px; /* Adiciona espaço entre parágrafos */
}

.lista-resenhas {
  width: 100%;
  padding: 0;
  list-style: none;
}

/* Estilo para a área de resenha */
.escrever-resenha {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  gap: 15px;
}

/* Estilo para os botões */
.escrever-resenha .MuiButton-root {
  border-radius: 20px;
  font-weight: bold;
  text-transform: none;
}

/* Estiliza o botão de compra do livro */
.livro-btnCompra {
  color: #47211c; /* Define a cor para o ícone de edição */
  background: none; /* Remove o fundo do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer;
  font-size: 17px; /* Aumenta o tamanho do ícone */
  padding: 3px;
}

.livro-btnCompra:hover {
  color: #7a3e36; /* Opcional: tom mais claro no hover */
  background: none;
}

/* Estilo para a tag lido */
.btn-tag-lido-livro {
  background: transparent;
  color: black;
  padding: 7px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.btn-tag-lido-livro:hover{
  color: #4CAF50;
  background: transparent;
}

/* Estilo para a tag relido */
.btn-tag-relido-livro {
  background: transparent;
  color: black;
  padding: 7px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.btn-tag-relido-livro:hover{
  color: #007BFF;
  background: transparent;
}

.btn-tag-lido-livro.ativo{
  color: green;
}

.btn-tag-relido-livro.ativo {
  color: #007BFF;
}

.avaliacao-livro button {
  background: transparent;
  color: #47211c;
  border: none;
  box-shadow: none;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
}

.avaliacao-livro button:hover {
  color: #7a3e36;
  background: transparent;
  box-shadow: none;
}
