.linha-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa a altura total da janela */
    width: 100vw; /* Ocupa a largura total da janela */
    padding:0; /* Remove o padding para garantir que ocupe toda a tela */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do elemento */
    overflow-x: hidden;
  }
  
  .linha-crear {
    padding: 20px; /* Padding apenas na parte superior para o conteúdo adicional */
  }
  
  .livros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%; /* Ocupa toda a largura disponível */
    height: calc(100vh - 60px); /* Ajuste a altura se necessário, dependendo do espaço do cabeçalho */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
    overflow-x: hidden;
  }
  
  .livro-card {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Borda discreta */
    border-radius: 5px; /* Bordas levemente arredondadas */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
    transition: transform 0.2s ease-in-out; /* Efeito suave ao passar o mouse */
  }
  
  .livro-card:hover {
    transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
  }
  