.inicio-linha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

.inicio-livros-container {
  display: flex;
  justify-content: left;
  flex-wrap:wrap;
  gap: 25px; /* Espaçamento entre os livros */
  width: 100%;
  padding-right: 50px;
  padding-left: 70px;
}

.inicio-livro-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.inicio-livro-card {
  width: 160px;
  height: 230px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #58888c; /* Borda do card */
}

.inicio-livro-wrapper:hover {
  transform: scale(1.3); /* Aumenta o livro proporcionalmente */
  z-index: 10;
}

.inicio-livro-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; /* Largura completa do card */
  max-width: 200px;
  background: #58888c;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;

  /* Aplicar o border-radius apenas na parte inferior */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.inicio-livro-overlay p {
  font-size: 10px;

  display: -webkit-box; /* For WebKit browsers */
  -webkit-line-clamp: 5; /* Limit the text to 4 lines in WebKit browsers */
  -webkit-box-orient: vertical; /* For WebKit browsers */
  overflow: hidden; /* Hide the text beyond the specified lines */
  text-overflow: ellipsis; /* Add ellipsis (...) at the end */

  /* Standard property for line clamping */
  display: box; /* Standard box model */
  line-clamp: 5; /* Limit the text to 4 lines in modern browsers */
  box-orient: vertical; /* For non-WebKit browsers */

  line-height: 1.5; /* Adjust the line height for better readability */
}

.inicio-livro-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.inicio-btnIcon,
.biblioteca-btnIcon {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/*css da busca por livro*/

.livros-buscados {
  display: flex;
  flex-wrap: wrap; /* Permite que os livros que não cabem na linha sejam movidos para a linha seguinte */
  justify-content: center; /* Alinha os livros ao centro */
  gap: 10px 30px;
}

.livro-buscado-wrapper {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  margin-bottom: 15px;
}

.livro-buscado-card {
  width: 190px;
  height: 285px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.livro-buscado-overlay {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); /* Centraliza o overlay com relação ao card */
  width: 190px;
  min-width: 120px; /* Evita que fique muito pequeno */
  background: #58888c;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.livro-buscado-overlay p {
  font-size: 10px;
  display: -webkit-box; /* For WebKit browsers */
  -webkit-line-clamp: 5; /* Limit the text to 4 lines in WebKit browsers */
  -webkit-box-orient: vertical; /* For WebKit browsers */
  overflow: hidden; /* Hide the text beyond the specified lines */
  text-overflow: ellipsis; /* Add ellipsis (...) at the end */

  /* Standard property for line clamping */
  display: box; /* Standard box model */
  line-clamp: 5; /* Limit the text to 4 lines in modern browsers */
  box-orient: vertical; /* For non-WebKit browsers */

  line-height: 1.5; /* Adjust the line height for better readability */
}

.livro-buscado-wrapper:hover {
  transform: scale(1.2);
  z-index: 10;
}
