.request-reset-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 2rem;
    background-color: #f0f2f5;
    border-radius: 10px;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
    color: black;
    text-align: center;
  }
  
  .subtitle {
    font-size: 16px;
    color: #47211c;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  .voltar {
    background: none;
    border: none;
    color: #47211c;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .solicitar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }

  .solicitar {
    background-color: #007BFF;
    color: white;
  }  
  
  .solicitar:hover {
    background-color: #0056b3;
  }