.btnEditaTabEditoras {
    background-color: #5a251d;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btnEditaTabEditoras svg {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.btnEditaTabEditoras:hover {
    background-color: #0056b3;
}