.btnEditaTabAutor {
    background-color: #5a251d;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btnEditaTabAutor svg {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.btnEditaTabAutor:hover {
    background-color: #0056b3;
}


.btnExcluiTabAutor {
    background-color: #5a251d;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px; /* Espaço entre os botões */
}

.btnExcluiTabAutor svg {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.btnExcluiTabAutor:hover {
    background-color: #47211c; /* Cor do hover consistente */
}