.LivrosPorEditora-linha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

.LivrosPorEditora-livros-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  padding-right: 50px;
  padding-left: 70px;
}

.TituloLivrosPorEditora {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.TituloLivrosPorEditora::after {
  content: "";
  display: block;
  width: 300px;
  height: 4px;
  background-color: #5a2a24;
  margin: 10px auto;
  margin-bottom: 40px;
}

.LivrosPorEditora-livro-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.LivrosPorEditora-livro-card {
  width: 160px;
  height: 230px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #58888c;
}

.LivrosPorEditora-livro-wrapper:hover {
  transform: scale(1.3);
  z-index: 10;
}

.LivrosPorEditora-livro-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 200px;
  background: #58888c;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.LivrosPorEditora-livro-overlay p {
  font-size: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  line-clamp: 5;
  box-orient: vertical;
  line-height: 1.5;
}

.LivrosPorEditora-btnIcon,
.biblioteca-btnIcon {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}