.nav-container{
    position: fixed;
    top: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 16px;
    z-index: 1;
    background: #47211c;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-options-left {
    font-size: medium;
    position: fixed;
    padding: 10px;
    left: 100px;
    display: flex;
    gap: 20px;
}

.nav-options-left a {
    color: white;
    text-decoration: none;
}

.nav-options-left a:hover {
    color: #ccc;
}

.nav-options-left-2 {
    font-size: medium;
    position: fixed;
    padding: 10px;
    left: 240px;
    display: flex;
    gap: 20px;
}

.nav-options-left-2 a {
    color: white;
    text-decoration: none;
}

.nav-options-left-2 a:hover {
    color: #ccc;
}

.nav-options-right{
    font-size: medium;
    color: white;
    position: fixed;
    padding: 10px;
    right: 40px;
    display: flex;
    gap: 20px;
}

.nav-options-right a {
    color: white;
    text-decoration: none;
}

.nav-options-right a:hover {
    color: #ccc;
}


.nav-logo{
    position: fixed;
    left: 20px;
    width: 40px;
}

.nav-avatar{
    position: fixed;
    text-align: center;
    right: 20px;
    width: 40px;
    object-fit: contain;
    color: white;
}

.nav-avatar:hover {
    border-color: #888;
  }

.nav-container-black{
    background-color: #111;
}