.nav-container{
    position: fixed;
    top: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 20px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav-options-left {
    font-size: larger;
    position: fixed;
    padding: 20px;
    left: 100px;
    display: flex;
    gap: 20px;
}

.nav-options-left a {
    color: white;
    text-decoration: none;
}

.nav-options-left a:hover {
    color: #ccc;
}

.nav-options-right{
    font-size: larger;
    position: fixed;
    padding: 20px;
    right: 100px;
    display: flex;
    gap: 20px;
}

.nav-options-right a {
    color: white;
    text-decoration: none;
}

.nav-options-right a:hover {
    color: #ccc;
}


.nav-logo{
    position: fixed;
    left: 20px;
    width: 70px;
}

.nav-avatar{
    position: fixed;
    right: 20px;
    width: 70px;
    object-fit: contain;
}

.nav-container-black{
    background-color: #111;
}