.Container-CadLivro {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.linha-crear {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linha-crear span a {
  color: #5a251d; /* Cor mais saturada */
  text-decoration: none;
  font-weight: bold;
}

.linha-crear span a:hover {
  color: #47211c;
  text-decoration: underline;
}

.linha-crear hr {
  margin-top: 10px;
  border: 0;
  border-top: 1px solid white;
  width: 100%;
}

h2 {
  text-align: center;
  color: #5a251d; /* Cor mais saturada */
  font-family: Arial, sans-serif;
}

.jumbotron-custom {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.formCad .row {
  display: flex;
  justify-content: space-between;
}

.formCad .col-4 {
  flex: 0 0 30%;
  margin-bottom: 15px;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #5a251d; /* Cor mais saturada */
  box-shadow: 0 0 8px rgba(90, 37, 29, 0.25);
}

button.btn {
  background-color: #5a251d; /* Cor mais saturada */
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button.btn:hover {
  background-color: #47211c;
}

button.btn:active {
  background-color: #3d1c18;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
