.jumbotron-custom {
    background-color: #47211c;
    padding: 2rem;
    border-radius: 0.5rem;
    color: #E6D9C8;
  }
  
h2 {
    color: #47211c;
    text-align: center;
}

.Container{
  margin-left: 20px;
  margin-right: 20px;
}

.table-custom{
  background-color: #47211c;
}

.btn-success {
  background-color: #007BFF !important;
  border-color: #007BFF !important;
}

.btn-success:hover {
  background-color: #0056b3  !important; /* Verde escuro no hover */
  border-color: #0056b3 !important;
}

.btn-success:focus, .btn-success:active {
  background-color: #0056b3 !important; /* Verde ainda mais escuro ao clicar */
  border-color: #0056b3  !important;
}

.linha-crear span {
  margin-right:10px; /* Adiciona espaçamento entre os links */
}