.busca-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  gap: 10px; 
  margin-bottom: 40px;
}

.busca-input-group {
  display: flex;
  gap: 10px;
}

.busca-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  width: 400px;
}

.busca-botao {
  background-color: #5a2a24;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.busca-botao:hover {
  background-color: #8a4d41;
  transform: scale(1.05);
}

.busca-botao:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.busca-erro {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.filtro-input-group {
  position: relative;
}

.FiltrarLivrosBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.FiltrarLivrosBtn:hover {
  color: #58888c;;
  transform: scale(1.1);
  background-color: transparent;
}

.busca-status,
.busca-erro {
  font-size: 14px;
  margin-top: 10px;
}

.filtro-opcoes {
  position: absolute;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  z-index: 10;
}

.filtro-item {
  position: relative;
  padding: 8px 12px;
  cursor: pointer;
}

.filtro-item:hover {
  background-color: #f0f0f0;
}

.genero-wrapper {
  position: relative;
  display: inline-block;
}

.subfiltro-generos {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.subfiltro-editoras {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.subfiltro-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.subfiltro-item:hover {
  background-color: #f0f0f0;
}

.busca-container-pag-filtrada {
  margin-bottom: 0px;
}

.FiltrarLivrosBtn-pag-filtrada {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 4px;
  font-size: 30px;
  color: #58888c;
  transition: transform 0.2s ease-in-out;
}

.FiltrarLivrosBtn-pag-filtrada:hover {
  color: #3f6669;
  transform: scale(1.1);
  background-color: transparent;
}