.divBuscaIsbn {
    padding: 100px;
    background-color: #f9f9f9;
}

.divTituloBuscaIsbn {
    text-align: center;
    margin-bottom: 20px;
}

.divInputBuscaIsbn {
    display: flex;
    justify-content: center;  /* Centraliza o input e o botão juntos */
    align-items: center;      /* Centraliza verticalmente */
    margin-bottom: 20px;
    gap: 10px;  /* Espaço entre o input e o botão */
}

.formBuscaIsbn {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;  /* Define uma largura máxima para o formulário */
    margin: 0 auto;    /* Centraliza o formulário na página */
    text-align: center;  /* Garante que tudo dentro fique centralizado */
}

.isbnBusca {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;  /* Ajusta a largura para ficar proporcional */
}

.isbnBusca:focus {
    border-color: #5a251d; /* Cor mais saturada */
    box-shadow: 0 0 8px rgba(90, 37, 29, 0.25);
}

button.btnBuscaIsbn {
    background-color: #5a251d; /* Cor mais saturada */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;  /* Ajusta a largura do botão para se alinhar melhor com o input */
}

button.btnBuscaIsbn:hover {
    background-color: #47211c;
}

button.btnBuscaIsbn:active {
    background-color: #3d1c18;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
